extends layout

block content
  #header
  #content
    #leftcol
      h1.section Huiskamer
      p.row
        span.label Temperatuur: 
        span.value #{roomTemp}&deg;C
      p.row
        span.label Luchtvochtigheid: 
        span.value #{roomHumid}% (#{roomHumidLabel})
      p.row 
        span.label Luchtkwaliteit CO2: 
        span.value #{ppm} ppm (#{airQuality})

      h1.section Energie 
      p.row 
        span.label Electriciteitverbruik nu: 
        span.value #{watt} W
      p.row 
        span.label Opbrengst zonnepanelen nu: 
        span.value #{solarWatt} W
      p.row 
        span.label Opbrengst vandaag: 
        span.value #{solarTodayWatt} kWh
      p.row 
        span.label Gasverbruik vandaag: 
        span.value #{gas} m<sup>3</sup>
      p.row 
        if gasDuePlafond
          span.label Gaskosten vandaag / plafond: 
          span.value 
            span.unreal €#{gasDue} / 
            span.real €#{gasDuePlafond}
        else 
          span.label Gaskosten vandaag:
          span.value €#{gasDue}  

      h1.section Buiten 
      p.row 
        span.label Temperatuur / gevoel: 
        span.value 
          |#{temp}&deg;C 
          span.unreal / #{feelTemp}&deg;C
      p.row 
        span.label Luchtvochtigheid: 
        span.value #{humid}% (#{humidLabel})


    #rightcol

      #datetime
        #time #{time}
        #weekday #{weekday}
        #date #{date}

      #locaties 
        h1.locaties Wie = waar
        p.row 
          span.label Anne Linde:  
          span.location #{al}
        p.row  
          span.label Hugo: 
          span.location #{hugo}
        p.row 
          span.label Jan Willem: 
          span.location #{jw}
        p.row 
          span.label MJ:  
          span.location #{mj}
        p.row  
          span.label Ruth:  
          span.location #{ruth}

      canvas#buiengrafiek

      p#buientekst

      #buiendata
        script#buienDataJson 
          | buienData=JSON.parse("#{buienJson}".replace(/&quot;/g, "\""));
      script(src="/javascripts/buien.js")

  #footer
    p #{err}
    script(src="/javascripts/refresh.js")